payment_my_soap/src/main/webapp/WEB-INF/wsdl/Test/Test_v1_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:com="http://schemas.dbs.com/my/common/1_1" xmlns:ns="http://schemas.dbs.com/my/Test/1_1"  xmlns:tns="http://schemas.dbs.com/my/wsdl/Test/1_1" targetNamespace="http://schemas.dbs.com/my/wsdl/Test/1_1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.dbs.com/my/common/1_1">
			<xs:include schemaLocation="common/CommAggregate_v1_1_0.xsd"/>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.dbs.com/my/Test/1_1">
			<xs:include schemaLocation="TestOp_v1_1_0.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MsgHeader">
		<wsdl:part name="part1" element="com:MsgDetl">
			<wsdl:documentation>Mandatory</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="TestRq">
		<wsdl:part name="TestRq" element="ns:TestInq"/>
	</wsdl:message>
	<wsdl:message name="TestRs">
		<wsdl:part name="TestRs" element="ns:TestResponse"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="com:DetailInfo"/>
	</wsdl:message>
	<wsdl:portType name="PortType">
		<wsdl:operation name="Test">
			<wsdl:input message="tns:TestRq"/>
			<wsdl:output message="tns:TestRs"/>
			<wsdl:fault name="fault1" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TestHTTPEndpoingbinding" type="tns:PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Test">
			<soap:operation soapAction="/RIB/TW/TestOp_v1_1_0/OpImpl/Test" style="document"/>
			<wsdl:input>
				<soap:body parts="TestRq" use="literal"/>
				<soap:header message="tns:MsgHeader" part="part1" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="TestRs" use="literal"/>
				<soap:header message="tns:MsgHeader" part="part1" use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault1">
				<soap:fault name="fault1" use="literal"/>
				<soap:header message="tns:MsgHeader" part="part1" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Test_v1_1_0">
		<wsdl:port name="HTTP" binding="tns:TestHTTPEndpoingbinding">
			<soap:address location="https://localhost:12345/Services/Test_v1_1_0"/>
			<wsdl:documentation>Endpoint for Customer Retrieve</wsdl:documentation>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
